@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    background-color: rgb(181, 226, 185);
    font-family: "Overpass", Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

body {
    nav {
        box-sizing: border-box;
        border: 2px solid rgb(66, 118, 70);
        border-radius: 10px;
        padding-left: 15px;
        font-family: 'Quicksand', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #071009;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }

    img {
        max-width: 100%;
        display: flex;
    }

    h1, h2, h3, h4, h5 {
        font-family: 'Quicksand', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    &.blue-theme { border: 4px solid #e3f2fd; }
    &.green-theme { border: 4px solid #e8f5e8; }
    &.red-theme { border: 4px solid #ffebee; }
}

/* Center duck gif */
div.img-center {
    display: flex;
    justify-content: center;

    img {
        width: 200px;
    }
}