<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About - Connor's Express Site</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>Howdy, I'm glad you stopped by! I'm Connor, a computer science & web design student from Florida.</p>
    <p>I'm currently in my 8th and final semester at BYU-Idaho, where I've been taking classes to further my programming and design skills.</p>
    <p>As for hobbies, I like making music, videos, art, programs, and virtual recreations of theme parks (growing up near Disney World does things to you). I also really like popcorn (probably a bit too much, considering I have it basically every day).</p>
    <p>Hopefully this introduction has given you a little insight into the kind of person I am. Thanks for stopping by my Express site!</p>
    <img src="/images/cb_about_photo.jpg" alt="A photo of Connor standing in front of a weathered brick wall.">
</body>
</html>