<%- include('partials/header') %>
<main>
    <h2><%= title %></h2>
    <p>Welcome to my Express site! It's still a work-in-progress, but feel free to explore to your heart's content.</p>
    <p>If you're looking for a good place to start, why not check out the About page?</p>
</main>
<%- include('partials/footer') %>