<%- include('partials/header') %>
<main>
    <h2><%= title %></h2>
    <p>I don't really have anything I'm "selling" per se yet, so, uh... enjoy this gif instead! Rest of the page is coming soon.</p>
    <div class="img-center">
        <img src="/images/duck-spin-no-background.gif">
    </div>
</main>
<%- include('partials/footer') %>