<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Products - Connor's Express Site</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>I don't really have anything I'm "selling" per se yet, so, uh... enjoy this gif instead! Rest of the page is coming soon.</p>
    <div class="img-center">
        <img src="/images/duck-spin-no-background.gif">
    </div>
</body>
</html>