<%- include('../partials/header') %>
<main>
    <h1>We Got Lost...</h1>
    <p>Sorry, we couldn't find that page. If you think this isn't supposed to happen, please get in touch! (404 error)</p>
    <img src="/images/404-confusion.png" alt="404 Not Found">
    <p>In the meantime, you can return to the <a href="/">homepage</a> to continue browsing.</p>
</main>
<%- include('../partials/footer') %>