<%- include('../partials/header') %>
<main>
    <h1>Uh oh...</h1>
    <p>We are experiencing technical difficulties. We've been notified and are working to fix the issue!</p>
    <img src="/images/500-error.png" alt="500 Server Error">
    <p><a href="/">Return to homepage</a></p>

    <% if (NODE_ENV === 'development') { %>
        <!-- Only show if in dev mode -->
        <details open>
            <summary>Error Details (Development Only)</summary>
            <pre><%= error %></pre>
            <pre><%= stack %></pre>
        </details>
    <% } %>
</main>
<%- include('../partials/footer') %>